.post {
  display: flex;
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
}
.post img {
  width: 30%;
  border-radius: 8px;
}
.post-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 20px;
  width: 70%;
}
.post-info h3 {
  margin: 0;
  font-size: 1.5em;
  color: black;
}

.post-info span {
  font-weight: bold;
  color: #007bff;
  text-transform: uppercase;
}

.post-info p {
  margin: 5px 0;
  color: gray;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.post-footer button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 0.8em;
  height: 30px;
  width: 60px;
  border-radius: 5px;
  cursor: pointer;
}
